*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* Generics */
header{
    width: 100%;
    min-height: 50px;
    position: fixed;
    z-index: 1;
    background-color: #0084fd;
}

main{
    padding-top: 100px;
}


/* Utilities */


.container{
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    padding: 0 30px;
}

.j-space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.d-flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 50px;

}

.col{
    background-color: #b5ddff;
    min-height: 400px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 30px;
}



/* Header */

.logo{
    width: 20%;
    min-height: 25px;
    background-color: blueviolet;
}

.nav-drop-down{
    width: 20%;
    min-height: 25px;
    background-color: blueviolet;
}


/* Main */


#second{
    background-color: #9792e4;
}

#second .col{
    background-color: white;
    border: 5px solid black;
}



/* TABLET */

@media screen and (min-width: 768px) {

    .row{
        flex-direction: row;
        justify-content: space-between;
        margin: 0 -15px;
    }

    .col{
        margin: 0 15px;
        margin-bottom: 30px;
    }

    .col.w-67{
        width: calc(100% / 3 * 2 - 30px)
    }

    .col.w-33{
        width: calc(100% / 3 - 30px)
    }
}


/* DESKTOP */


@media screen and (min-width: 1200px) {
    .container{
        padding: 0 200px;
    }

    #second .row{
        flex-direction: row;
    }

    #second .col{
        width: calc(100% / 2 - 30px)
    }
}
