*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* Generics */
header{
    width: 100%;
    min-height: 50px;
    position: fixed;
    z-index: 1;
    background-color: #0084fd;
}

main{
    padding-top: 100px;
}

footer{
    background-color: #333;
}

a{
    text-decoration: none;
    color: white;
}

/* Utilities */


.container{
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    padding: 0 30px;
}

.j-space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.d-flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 50px;

}

.col{
    background-color: #b5ddff;
    min-height: 400px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 30px;
}



/* Header */

.logo{
    width: 20%;
    min-height: 25px;
}

.logo img{
    display: block;
}

.nav-drop-down{
    color: white;
    font-size: 25px;
    text-align: right;
}

.nav-drop-down{
    width: 20%;
    min-height: 25px;
}

.linklist{
    display: none;
}

.linklist a{
    margin-left: 15px;
}

.button-link{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 30px;
}

/* Main */

/* SECOND SECTION STRATEGIC PLANNING*/
#strategic-planning{
    background-color: #9792e4;
}

#strategic-planning .col{
    background-color: white;
    border: 5px solid black;
}

/* THIRD SECTION TESTIMONIAL*/

#testimonial .col{
    background-color: #9792e4;
}

/* FOURTH SECTION  BENEFITS*/

#benefits{
    background-color: #9792e4;
}

#benefits .row{
    flex-direction: row;
}

#benefits .col{
    background-color: white;
}



/* SIXTH SECTION GET STARTED */

#get-started{
    background-color: #9792e4;
}

#get-started .col{
    background-color: white;
}




/* TABLET */

@media screen and (min-width: 768px) {

    .row{
        flex-direction: row;
        margin: 0 -15px;
    }

    .col{
        margin: 0 15px;
        margin-bottom: 30px;
    }

    .w-67{
        width: calc(100% / 3 * 2 - 30px)
    }

    .w-33{
        width: calc(100% / 3 - 30px)
    }

    #benefits .col{
        width: calc(100% / 2 - 30px);
    }

    
}


/* DESKTOP */


@media screen and (min-width: 920px) {
    .container{
        padding: 0 200px;
    }

    #strategic-planning .row{
        flex-direction: row;
    }

    #strategic-planning .col{
        width: calc(100% / 2 - 30px)
    }

    #benefits .col{
        width: calc(100% / 3 - 30px);
    }

    .linklist{
        display: block;
    }

    .nav-drop-down{
        display: none;
    }
}
